
nav {
    
    margin: -9px;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    margin:0;
    padding: 0;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    
}


#logo{
    background-color: yellow;
    text-align: center;
    font-size: 2rem;
    
}

#form{
border: 2px solid green;
padding: 0 10% 0 10%;

}

footer{
    display: block;
    text-align: center;
    padding: 25px;
}