
nav {
    border:  1px solid #333;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    
}

#logo{
    background-color: yellow;
    text-align: center;
}

#form{
border: 2px solid green;

}

footer{
    display: block;
    text-align: center;
    padding: 25px;
}